.wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
}
.marquee {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    display: inline-block;
    animation: marquee 60s linear infinite;
    background: red;
    // overflow: hidden;
}
.marquee p {
    display: inline-block;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translateX(calc(-100%));
    }
}
